name: fitplus_flutter
description: "FitPlus - Health Management Application."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  provider: ^6.1.0
  http: ^1.1.0
  fl_chart: ^0.65.0
  intl: ^0.19.0
  table_calendar: ^3.1.0
  uuid: ^4.0.0
  shared_preferences: ^2.2.0
  json_annotation: ^4.8.1

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^5.0.0
  build_runner: ^2.4.6
  json_serializable: ^6.7.1

flutter:
  uses-material-design: true

  assets:
    - assets/images/
